body {
  background-color: #337ab7;
}
.login-btn {
  background-color: #ffffff;
}

.login-btn:hover {
  background-color: #ffffff;
  border-color: transparent;
}

#login-txt {
  color: #337ab7;
  font-family: rooney-sans, sans-serif;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
