#profile-image {
  display: block;
  width: 159px;
  margin-left: auto;
  margin-right: auto;
}

#box-div {
  height: 230px;
  border: 1px solid black;
}

#button-mark {
  margin-top: 50px;
  margin-bottom: 50px;
}
